################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DS&Algo/LinkedListPractice/.vs/LinkedListPractice/FileContentIndex
/DS&Algo/LinkedListPractice/LinkedListPractice/bin/Debug
/DS&Algo/LinkedListPractice/LinkedListPractice/obj
/DS&Algo/LinkedListPractice/.vs/LinkedListPractice/v17
/DS&Algo/LinkedListPractice/.vs
